/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 мая 2023 г., 22:06:56
    Author     : kateromanova
*/

.root {
    -fx-background-color: ghostwhite;
}

.text-field {
    -fx-color: Gray;
    -fx-background-color: lavender;
    -fx-text-fill: BurlyWood;
    -fx-font-family: Serif;
}
.text-field:focused {
    -fx-background-color: Linen;
}


.label {
    -fx-text-fill: DimGray;
    -fx-font-size: 11pt;
    -fx-font-family: Serif;
}

.button{
    -fx-background-color: WhiteSmoke;
    -fx-text-fill: DimGray;
    -fx-font-family: Serif;
}
.button:hover {
    -fx-background-color: Linen;
}
.table-view .table-column{
    -fx-background-color: Gainsboro;
    -fx-text-fill: DimGray;
    -fx-font-family: Serif;
}
.column-header-background{
    -fx-text-fill: DimGray;
    -fx-font-family: Serif;
}